/*opt*/
:root {
    --left-space: 48px;
  }

/*Hard Reset CSS*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@font-face {
    font-family: "Norse Bold";
    src: url("./Norse-Bold.otf");
  }

/*Flexbox will flex everything to the right*/
  .content {
    min-height: 100vh;
    display: flex;
  }
 
/*Everything applied to the left side*/
  .image-section {
    background-position: center center;
    background-image: url("images/repair_splash.jpeg");
    background-size: cover;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    text-align: center;
  } 
/* Make links change color to show style*/
  a {
    color: white;
  }
  a:hover{
      color:gold;
  }

/*Now Flexes the test relative to Odin Image*/
  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5.5rem;
    font-family: "Norse Bold";
    margin-top: 20vh;
    padding: 16px 0;
    background-color: rgba(0, 0, 0, 0.4);
  }
/*Banner/Image were too large, shrinked it down */
  .banner img {
    height: 125px;
  }
  .banner h2{
    margin: 0;
  }
/*Credit to the artist is kept very small*/
  .attribution {
    font-size: 0.5rem;
  }

/* Text Section */
/* Centers title text the middle of the middle using flexbox*/
.text-section {
    flex: 5;
    background-color: #f9fafb;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

/* Applying style to the P tags in text-section*/
  .text-section > p {
    font-size: 2.0rem;
    margin-left: var(--left-space);
    font-weight: bold;
    max-width: 75%;
    margin-bottom: 10px;
  }
/* Centers input section to the middle of the middle using flexbox*/
  .inputs-section {
    color: black;
    background-color: white;
    margin-top: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: var(--left-space);
    box-shadow: 0 5px 5px 4px rgba(0, 0, 0, 0.1);
  }

/* Styles to the label */
  .inputs-section label {
    font-size: 0.75rem;
    letter-spacing: 0.5rem;
    margin-bottom: 3px;
  }

/* Styles to the input boxes */
  .inputs-section input {
    box-sizing: border-box;
    border: 1px solid #e5e7eb;
    border-radius: 4px;
    padding: 4px 8px;
    width: 100%;
    font-size: 1rem;
    margin-right: 32px;
  }
/* Minor tweak to the h3 */
  .inputs-section h3 {
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 24px;
  }

  .inputs > div {
    display: flex;
    flex-wrap: wrap;
    column-gap: 84px;
    row-gap: 10px;
    margin-bottom: 18px;
  }

/*Makes input boxes line up together */
  .inputs label {
    display: block;
  }

  input.focus {
    border: 1px solid gold;
    box-shadow: 2px 1px 2px 2px rgba(0, 0, 0, 0.1);
  }

  input.error {
    border: 1px solid red;
  }

  .error-message {
    margin-top: 0;
    font-size: 0.8rem;
    color: red;
  }

/**/
#create-account {
    margin-left: var(--left-space);
    margin-top: 32px;
    border: none;
    background-color: gold;
    padding: 12px 48px;
    border-radius: 8px;
    box-shadow: 2px 5px 5px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
  }
  
  p.log-in {
    font-weight: 400;
    font-size: 1rem;
    margin-top: 32px;
  }
  
  .log-in a {
    color: purple;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
  }



